* {
    box-sizing: border-box;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    background: rgb(0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}

/*navbar*/

nav {
    height: 5rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

/*Styling logo*/
.logo{
    padding: 10px;
    text-align: center;
}

.logo img {
    height: 100%;
    max-width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 100%;
    padding: 0 0.7vw;
    justify-content: right;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;
    margin: 0;
}

.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #f2f5f7;
    font-family: squidGame;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.3rem;
}
.nav-links li a:hover {
    color: #a2d494;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #a2d494;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1050px){
    nav{
        position: fixed;
        z-index: 3;
        justify-content: space-evenly;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* footer */


footer {
	background: rgb(25, 29, 23);
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li{
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}

.single-box ul li a{
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
.single-box img{
    height: 10ex;
}

form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}

form .far{
	font-size: 0.1ex;
	margin-right: 20ex;
}

form input{
	width: 30ex;
	background: transparent;
	color: #ccc;
	border: 0;
	outline: none;
}

form button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}

form button .fas{
	font-size: 16px;
	color: #fff;

}

.kopiret{
	text-align: center;
    color: white;
}


@font-face {
    font-family: squidGame;
    src: url('Game Of Squids.ttf');
  }

  @font-face {
    font-family: valorant;
    src: url('Valorant Font.ttf');
  }