* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

html {
    font-size: 15px;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-image: url('paddy field.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.wrap {
    top: 5rem;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(17, 20, 16, 0.8);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.con {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
}

.con p{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: justify;
    color: white;
    font-size: 1.5rem;
    padding-top: 30px;
    max-width: 80%;
}

.heading {
    font-size: 3.5rem;
    color: #ddefcf;
    font-family: squidGame;
    margin: -5px;
    text-shadow: 0 0 5px rgba(212, 255, 0, 0.64);
}

.col {
    width: calc( 50% - 50px );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.subpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.flexRow {
    width: 100%;
    flex-wrap: wrap;
}

.img {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.desc {
    min-width: 400px;
    width: calc(80% - 600px) !important;
}

@font-face {
    font-family: squidGame;
    src: url('Game Of Squids.ttf');
  }

  @font-face {
    font-family: valorant;
    src: url('Valorant Font.ttf');
  }


@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
}