* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-align: center;
}

html {
    font-size: 15px;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-image: url('wallpaper.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.wrap {
    top: 5rem;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(17, 20, 16, 0.8);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.subpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.flexCol {
    flex-direction: column;
    width: 100%;
}

.flexRow {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.mainTitle {
    font-size: 6rem;
    color: #FEFAE0;
    font-family: valorant;
    text-shadow: 0 0 5px #fefae090;
    margin-bottom: -10px;
    animation-name: title;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes title {
    from {color: #FEFAE0;}
    to  {color: #a2d494;}
}

.subTitle {
    font-size: 3rem;
    color: #cec798;
    font-family: squidGame;
    margin: -5px;
}

.subTitle2 {
    font-size: 3rem;
    color: #deb883;
    font-family: 'Yellowtail', cursive;
    text-shadow: 0 0 3px rgba(246, 255, 0, 0.707);
    letter-spacing: 8px;
}

.col {
    width: calc( 50% - 50px );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.heading {
    font-size: 4.5rem;
    color: #ddefcf;
    font-family: squidGame;
    margin: -5px;
    text-shadow: 0 0 5px rgba(212, 255, 0, 0.64);
}

.squad {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    animation-name: opac;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.merapi {
    max-width: 680px; 
    height: auto;
    width: 100%;
    animation-name: opac;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes opac {
    from {opacity: 1;}
    25% {opacity: 0.6;}
    50% {opacity: 0.3;}
    75% {opacity: 0.6;}
    to  {opacity: 1;}
}

.desc {
    color: #cec9a4;
    font-size: 2.5rem;
    font-family: valorant;
}

.members {
    color: #cec9a4;
    font-size: 1.5rem;
    font-family: valorant;
    padding: 10px;
    max-width: 1000px;
}

.event {
    margin: 20px 0 10px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.subheading {
    color: #a4cec1;
    font-size: 2.5rem;
    font-family: 'valorant';
}

.par {
    color: #cec9a4;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'valorant', 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    body {
        background: rgb(17, 20, 16);
    }
    .wrap {
        background: none;
    }
  }

@font-face {
    font-family: squidGame;
    src: url('Game Of Squids.ttf');
  }

  @font-face {
    font-family: valorant;
    src: url('Valorant Font.ttf');
  }